.nav .ul__nav {
    display: flex;
    justify-content: center;
}

.li__nav {
    padding-top: 2rem;
    padding-right: 2rem;
    .a__nav {
        text-decoration: none;
        font-size: 2.2rem;
        color: $blanco;
        font-family: $fuenteSecundaria;
        font-weight: 600;
        text-transform: uppercase;
    }
}

